.button-classic {
  outline: none;
  padding: 0;
  text-align: center;
  border-left: 2px solid #ededed;
  border-top: 2px solid #ededed;
  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;
  &:active {
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #efefef;
    border-bottom: 2px solid #efefef;
  }
}
.button-inner {
  border-top: 2px solid gray;
  border-left: 2px solid gray;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
@import "./reset.scss";
@import "./value.scss";
@import './highlight/androidstudio.scss'